<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">{{site.title}}</a>
        {% if site.data.navigation %}
        <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for item in site.data.navigation %}
                {% if item.dropdown %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{item.link}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{item.name}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{item.link}}">
                        {% for subitem in item.dropdown %}
                        <li>
                            <a class="dropdown-item {% if subitem.link == page.url %}active{% endif %}" href="{{ subitem.link | relative_url }}" aria-current="page">{{ subitem.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link{% if item.link + '.html' == page.url %} active{% endif %}" aria-current="page"  href="{{ item.link | relative_url }}">{{ item.name }}</a>
                    <!-- {{item.link}} ;;; {{page.url}} -->
                </li>
                {% endif %}
        {% endfor %}
        </ul>
        </div>
        {% endif %}
    </div>
</nav>
