body {
    padding-top: 65px;
}

#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
    float: right;
    margin: 10px;
    max-width: 40%;
}

.nav-link {
    color: white;
}

.nav-link .active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
