<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/assets/css/custom.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <script src="/assets/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!-- HEADER -->
    {% include header.html %}
    <!-- MAIN CONTENT -->
    <div class="container">
      {{ content }}
    </div>
  <!-- Footer -->
  <footer class="bg-dark text-center text-white">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <div class="container">
        <div class="row"><div class="col">
          CONTACT US<br>
          <a href="mailto:hci@infomedia.uib.no">hci@infomedia.uib.no</a> <br>
          Universitetet i Bergen<br>
          Institutt for informasjons- og medievitenskap<br>
          Postboks 7802<br>
          NO-5020 BERGEN<br>
          NORWAY
          </div>
          <div class="col">
          VISIT US<br>
          Fosswinckels gate 6<br>
          Lauritz Meltzers hus<br>
          <a href="https://link.mazemap.com/pSyfOI3x">View campus map</a>
          </div>
        </div>
      </div>

      (c) HCI research group at the University of Bergen.
    </div>
    <!-- Copyright -->
  </footer>

  </body>
</html>
